@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "flowbite/src/themes/default";
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");

@font-face {
    font-family: "The Seasons";
    src: url("/fonts/the-seasons/fontts.com-theseasons-reg.otf")
        format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "The Seasons";
    src: url("/fonts/the-seasons/fontts.com-theseasons-it.otf")
        format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "The Seasons";
    src: url("/fonts/the-seasons/fontts.com-theseasons-lt.otf")
        format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "The Seasons";
    src: url("/fonts/the-seasons/fontts.com-theseasons-ltit.otf")
        format("opentype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "The Seasons";
    src: url("/fonts/the-seasons/fontts.com-theseasons-bd.otf")
        format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "The Seasons";
    src: url("/fonts/the-seasons/fontts.com-theseasons-bdit.otf")
        format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@plugin "flowbite/plugin";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../../node_modules/flowbite";

@theme {
    --color-primary: #292f61;
    --color-secondary: #88a7cb;
    --color-tertiary: #d1e0e2;

    /* --font-sans: "Inter", "ui-sans-serif", "system-ui", "-apple-system",
        "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "Arial",
        "Noto Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    --font-body: "Inter", "ui-sans-serif", "system-ui", "-apple-system",
        "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "Arial",
        "Noto Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas",
        "Liberation Mono", "Courier New", "monospace"; */

    /* BODY */
    --font-sans: "Arimo", "ui-sans-serif", "system-ui", "-apple-system",
        "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans",
        "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --font-body: "Arimo", "ui-sans-serif", "system-ui", "-apple-system",
        "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans",
        "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    /* HEADING */
    --font-display: "The Seasons", "Georgia", "serif";

    --font-mono: "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas",
        "Liberation Mono", "Courier New", "monospace";
}

.font-primary {
    font-family: var(--font-sans);
}

.font-secondary {
    font-family: var(--font-display);
}

.prose ul {
    list-style-type: disc !important;
}

.prose ol {
    list-style-type: decimal !important;
}

.prose li {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

.grecaptcha-badge {
    visibility: hidden !important;
}
